@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.compass{
	white-space: nowrap;
	font-variant: all-small-caps;
}

b{
	font-variant: small-caps;
	font-weight: normal;
}

[epub|type~="z3998:diary"]{
	margin: 0;
}

[epub|type~="z3998:diary-entry"]{
	margin-left: 0;
	margin-right: 0;
}

[epub|type~="z3998:diary-entry"] > p:first-child,
[epub|type~="z3998:diary-entry"] > header + p{
	text-indent: 0;
}

[epub|type~="z3998:diary-entry"] > p time{
	font-style: italic;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
	font-variant: small-caps;
}

table{
	border-collapse: collapse;
	border-width: 1px;
	border-style: solid;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}

td{
	border-width: 1px;
	border-style: solid;
	padding: .5em;
	width: 50%;
	vertical-align: top;
}

th{
	text-align: center;
	font-variant: small-caps;
	font-weight: normal;
	border-width: 1px;
	border-style: solid;
	padding: .5em;
	width: 50%;
}
