@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:diary-entry"]{
	margin-left: 0;
	margin-right: 0;
}

[epub|type~="z3998:diary-entry"] > p time{
	font-style: italic;
}

table{
	border-collapse: collapse;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}

td{
	border-style: solid;
	border-width: 1px;
	padding: .5em;
	vertical-align: top;
	width: 50%;
}

thead td{
	font-variant: small-caps;
	text-align: center;
}
